
body {
    background-color: #d0e4fe;
    font-family: Arial
}
#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
.vragen {
    margin:20px;
}
.antwoorden {
    margin-right:10px;
    margin-top:2px;
}