
body {
    background-color: #d0e4fe;
    font-family: Arial
}
#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
.vragen {
    margin:20px;
}
.antwoorden {
    margin-right:10px;
    margin-top:2px;
}
#enqueteTitel {
    text-align: center;
    font-size: 50px;
}
.arc text {
    font: 10px sans-serif;
    text-anchor: middle;
    }

    .arc path {
    stroke: #fff;
    }
